$main-font: 'Open Sans', sans-serif;
$tilte-font: 'Lato', sans-serif;

$primary-light: #ffffff;
$primary-dark: #000000;

$primary-grey: #cccccc;
$dark-grey: #666666;

$primary-red: #AA3939;
$light-red: #D46A6A;

$light-orange: #FFD1AA;

$primary-green: #7A9F35;
$light-green: #A5C663;
