@import './variables';

.c-status-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__movies-quantity {
    color: $primary-dark;
    font-family: $main-font;
    font-size: 0.9rem;
    font-weight: 700;
  }
}