@import './variables';

.c-status-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__movies-quantity {
    color: $primary-dark;
    font-family: $main-font;
    font-size: 0.9rem;
    font-weight: 700;
  }
  &__sort-type {
    &-title {
      color: $primary-dark;
      font-family: $main-font;
      font-size: 0.9rem;
      font-weight: 700;
    }
    &-button {
      color: $primary-dark;
      font-family: $main-font;
      font-size: 0.9rem;
      font-weight: 700;
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: none;
      }
    
      &.active {
        color: $light-red;
      }
    }
  }
}